.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.cmtContent {
    height: 80vh;
    width: 700px;
    background-color: #ffffff;
    border-radius: 7px;
}

.cmtTitle {
    padding: 1rem 1rem 0.5rem 1rem;
}

.nameSection {
    display: flex;
}

.cmtSection {
    height: 70vh;
    overflow: auto;
}

.userImg {
    height: 65px;
}

.nameTxt {
    font-size: 22px;
    font-weight: 500;
}

.emailTxt {
    font-size: 15px;
    font-weight: 300;
}