<!-- <p>dashboard works!</p>
<button (click)="selectedModule('profile')">User's List</button>
<button (click)="selectedModule('post')">Posts List</button> -->

<div class="dashboardMain">
    <div class="dashboardContact">
        <div class="w-50">
            <div class="mainTxt">
                <div class="fs-70 pd-20">
                    <span>Angular Based Application</span>
                </div>
                <div class="">
                    <span>Create by: VIJAYKUMAR B MOTAGI</span>
                </div>
            </div>
            <div class="btnSection">
                <button class="button-primary" (click)="selectedModule('profile')">User's List</button>
                <button class="button-primary" (click)="selectedModule('post')">Posts List</button>
            </div>
        </div>
        <div class="w-50">
            <div>
                <img src="assets/images/dashboard.png" alt="dashboard Image" />
            </div>
        </div>
    </div>
</div>