.cardContact {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 220px;
    margin: 1.9rem;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    height: 220px;
    background-color: #ffffff;
}

.cardName {
    font-size: 20px;
    padding-bottom: 5px;
}

.cardAdress {
    padding-left: 1rem;
}

.cardContact:hover {
    background-color: #eae9e9;
    cursor: pointer;
}

.display {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}