.postContact {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 430px;
    margin: 1.9rem;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #ffffff;
}

.postTitle {
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.postTitle:hover {
    text-decoration: underline;
    color: #0546ff;
}


.postDes {
    text-align: justify;
    display: flex;
    height: 100%;
}

.iconSec {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.editIcon {
    color: #08b338;
    cursor: pointer;
}

.cancelIcon {
    color: #ff0000;
    cursor: pointer;
}