.footerMain {
    // position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #dddcdc;
    z-index: 1000;
    // box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.footerTitle {
    font-size: 17px;
    font-weight: 600;
}

.autherName {
    font-size: 20px;
    font-weight: 800;
    font-family: emoji;
}